<!DOCTYPE html>

<!--modulo app-->
<html ng-app="app">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
        <title>Fulo</title>

        <!--carga de arquivos css-->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/complemento.css" rel="stylesheet">
        <!--carga de arquivos css-->

    </head>

    <body>

        <!--container-->
        <div class="container-fluid">

            <!--linha-->
            <div class="row">

                <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

                    <!--nav container-->
                    <div class="container-fluid">

                        <!--botao de menu para mobile-->
                        <div class="navbar-header">

                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-targset="#dropdown-thumbnail-preview" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!--fim botao de menu para mobile-->

                            <a class="navbar-brand hidden-xs"><img src="img/fulo.png" /></a>
                            <a class="navbar-brand hidden-sm hidden-md hidden-lg"><img src="img/fulo.png" /></a>

                        </div>

                        <!--colapso-->
                        <div id="navbar" class="navbar-collapse collapse">

                            <!--botoes da esquerda-->
                            <ul class="nav navbar-nav">

                                <!--botoes navbar-->
                                <li class="active"><a href="#/"><i class="glyphicon glyphicon-home"></i> Home</a></li>

                                <!--menu dropdown-->
                                <li class="dropdown thumb-dropdown">

                                    <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-th"></i> Produtos<span class="caret"></span></a>

                                    <ul class="dropdown-menu" role="menu">

                                        <li class="dropdown-header">Casa</li>

                                        <li>
                                            <a href="#">
                                                Acessórios para Cozinha
                                                <div class="thumbnail hidden-xs">
                                                    <img class="img-responsive" src="img/dropdown_menu/acessoriocozinha.png" width="400" height="400"/>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                Almofadas
                                                <div class="thumbnail hidden-xs">
                                                    <img class="img-responsive" src="img/dropdown_menu/almofadas.png" width="400" height="400"/>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                Bolsas
                                                <div class="thumbnail hidden-xs">
                                                    <img class="img-responsive" src="img/dropdown_menu/bolsas.png" width="400" height="400"/>
                                                </div>
                                            </a>
                                        </li>

                                        <li class="divider"></li>
                                        <li class="dropdown-header">Infatil</li>

                                        <li>
                                            <a href="#">
                                                Cobreleitos
                                                <div class="thumbnail hidden-xs">
                                                    <img class="img-responsive" src="img/dropdown_menu/cobreleitos.png" width="400" height="400"/>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                Kit Bebê
                                                <div class="thumbnail hidden-xs">
                                                    <img class="img-responsive" src="img/dropdown_menu/kitbebe.png" width="400" height="400" />
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                Mantos para Sofá
                                                <div class="thumbnail hidden-xs">
                                                    <img class="img-responsive" src="img/dropdown_menu/mantossofa.png" width="400" height="400"/>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                Mimos
                                                <div class="thumbnail hidden-xs">
                                                    <img class="img-responsive" src="img/dropdown_menu/mimos.png" width="400" height="400"/>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                Panôs
                                                <div class="thumbnail hidden-xs">
                                                    <img class="img-responsive" src="img/dropdown_menu/panos.png" width="400" height="400"/>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                Peso de Porta
                                                <div class="thumbnail hidden-xs">
                                                    <img class="img-responsive" src="img/dropdown_menu/pesoporta.png" width="400" height="400"/>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                Porta Trecos
                                                <div class="thumbnail hidden-xs">

                                                    <img class="img-responsive"
                                                         src="img/dropdown_menu/portatrecos.png"
                                                         width="400"
                                                         height="400"/>

                                                </div>
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                                <!--fim dropdown-->

                                <li><a href="#/contact"><i class="glyphicon glyphicon-phone-alt"></i> Contato</a></li>

                                <!--dropdown institucional-->
                                <li class="dropdown thumb-dropdown">

                                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="glyphicon glyphicon-road"></i> Institucional<span class="caret"></span>
                                    </a>

                                    <ul class="dropdown-menu" role="menu">

                                        <li><a href="#">Como tudo começou</a></li>
                                        <li><a href="#">Cuidados especiais</a></li>
                                        <li><a href="#">História do patchwork</a></li>
                                        <li><a href="#/user/listUser">Usuários</a></li>
                                        <li><a href="#/funcionarios">Funcionários</a></li>
                                        <li><a href="#/transportadoras">Transportadoras</a></li>

                                    </ul>

                                </li>
                                <!--dropdown institucional-->

                                <!--identificação do usuário logado-->
                                <li>
                                    <a href="#/customer/upCustomer">
                                        <i class="glyphicon glyphicon-user" ng-show="user.ds_name"></i>
                                        <strong> {{user.ds_name}}</strong>
                                    </a>
                                </li>
                                <!--identificação do usuário logado-->

                                <!--fim botoes navbar-->
                            </ul>

                            <!--fim botoes da esquerda-->

                            <!--botoes da direita-->
                            <ul class="nav navbar-nav navbar-right">

                                <!--Cadastre-se-->
                                <li ng-show="!user.sq_person">
                                    <a href="#/customer/addCustomer">
                                        <i class="glyphicon glyphicon-user text-primary"></i>
                                        <strong>Cadastre-se </strong>
                                    </a>
                                </li>
                                <!--Cadastre-se-->

                                <!--login-->
                                <li ng-show="!user.sq_person">
                                    <a href="" data-toggle="modal" data-target="#modalLogin">
                                        <i class="glyphicon glyphicon-log-in text-primary"></i>
                                        <strong>Entrar </strong>
                                    </a>
                                </li>
                                <!--login-->

                                <!--logout-->
                                <li ng-show="user.sq_person">
                                    <a href="" data-toggle="modal" data-target="#modalLogoff">
                                        <i class="glyphicon glyphicon-log-out text-danger"></i>
                                        <strong>Sair </strong>
                                    </a>
                                </li>
                                <!--logout-->

                            </ul>
                            <!--fim botoes da direita-->

                            <form class="navbar-form pull-right">
                                <img src="img/ajax-loader.gif" ng-show="showLoaderFlag" class="pull-right" />
                            </form>

                        </div>
                        <!--nav container-->

                    </div>
                    <!--colapso-->

                </nav>
                <!--navbar-->

                <!--conteudo-->
                <div class="container-fluid">

                    <!--linha-->
                    <div class="row">

                        <!--flashmessage-->
                        <div id="flashmessage" class="navbar-fixed-top">

                            <div  class="alert {{flashType}} fade in" role="alert">
                                <i class="glyphicon {{glyphicon}}"></i>
                                {{flashMsg}}
                            </div>

                        </div>
                        <!--flashmessage-->

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <!--conteudo-->
                            <div ng-view></div>
                            <!--conteudo-->

                        </div>

                        <!--rodape-->
                        <legend><br /></legend>

                        <!--primeiro bloco-->
                        <div class="col-xs-12 col-md-6">

                            <!--bloco de endereco-->
                            <address>
                                <h3>Fulô Patchwork</h3>

                                <div class="col-sm-12">
                                    Gama, Brasília - DF, 7200000<br />
                                </div>

                                <div class="col-sm-12">
                                    <abbr title="Phone"><i class="glyphicon glyphicon-phone-alt"></i></abbr> (61) 0000-0000
                                </div>

                                <div class="col-sm-12">
                                    <abbr title="Phone"><i class="glyphicon glyphicon-phone-alt"></i></abbr> (61) 0000-0000
                                </div>

                            </address>
                            <!--fim bloco endereco-->

                        </div>
                        <!--fim primeiro bloco-->

                        <!--botao topo-->
                        <div class="col-xs-12">

                            <div class="pull-right">
                                <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Clique para voltar ao topo" data-toggle="tooltip" data-placement="left">
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                </a>
                            </div>

                        </div>
                        <!--fim botao topo-->
                        <!--rodape-->

                    </div>
                    <!--linha-->

                </div>
                <!--conteudo-->

            </div>
            <!--linha-->

        </div>
        <!--container-->

        <!--carga de scripts-->
        <!--bibliotecas-->
        <script src="js/lib/jquery-1.11.2.min.js"></script>
        <script src="js/lib/bootstrap.min.js"></script>
        <script src="js/lib/angular.js"></script>
        <script src="js/lib/angular-resource.min.js"></script>
        <script src="js/lib/angular-route.min.js"></script>
        <script src="js/lib/nicescroll.min.js"></script>
        <script src="js/lib/geral.js"></script>
        <!--bibliotecas-->

        <!--modulos-->
        <script src="js/app.js"></script>
        <!--modulos-->

        <!--Controllers-->
        <script src="js/userController.js"></script>
        <script src="js/loginController.js"></script>
        <script src="js/customerController.js"></script>
        <!--Controllers-->
        <!--carga de scripts-->

    </body>

    <!--modal login-->
    <div id="modalLogin" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >

        <!--tamanho e alinhamento-->
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 col-sm-offset-4">

            <legend class="text-white"> <i class="glyphicon glyphicon-log-in text-white"></i> Entrar

                <a class="close pull-right text-white glyphicon glyphicon-remove-circle" data-dismiss="modal"></a>

            </legend>

            <!--formulario-->
            <form name="form" class="form-horizontal">

                <!--campo email-->
                <div class="form-group">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input type="email"
                               name="ds_email"
                               class="form-control
                               text-lowercase"
                               placeholder="usuario@email.com"
                               ng-model="row.ds_email"
                               maxlength="50"
                               ng-maxlength="50"
                               required/>
                    </div>

                    <div id="div-email" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span class="text-white" ng-show="form.ds_email.$dirty && form.ds_email.$invalid">
                            <i class="glyphicon glyphicon-remove-sign"></i>
                            <span ng-show="form.ds_email.$error.required">Campo obrigatório</span>
                            <span ng-show="form.ds_email.$error.email">Email inválido</span>
                            <span ng-show="form.ds_email.$error.maxlength">Máximo de cinquenta caracteres</span>
                        </span>
                    </div>

                </div>
                <!--fim campo email-->

                <!--campo senha-->
                <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <input class="form-control"
                               placeholder="Senha"
                               id="ds_password"
                               name="ds_password"
                               type="password"
                               maxlength="20"
                               ng-maxlength="20"
                               ng-model="row.ds_password"
                               required/>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span class="text-white" ng-show="form.ds_password.$dirty && form.ds_password.$invalid">
                            <i class="glyphicon glyphicon-remove-sign"></i>
                            <span ng-show="form.ds_password.$error.required">Campo obrigatório</span>
                            <span ng-show="form.ds_password.$error.maxlength">Máximo de vinte caracteres</span>
                        </span>
                    </div>

                </div>
                <!--fim campo senha-->

                <!--botao submit-->
                <div class="form-group">
                    <div class="col-sm-12">

                        <button id="entrar" class="btn btn-primary" ng-click="login()" ng-Disabled="form.$invalid">Entrar
                            <i class="glyphicon glyphicon-log-in"></i>
                        </button>

                    </div>
                </div>
                <!--fim botao submit-->

            </form>
            <!--fim formulario-->

        </div>

    </div>
    <!--fim tamanho e alinhamento-->
    <!--modal login-->

    <!--modal logoff-->
    <div class="modal fade" id="modalLogoff" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sair</h4>
                </div>

                <div class="modal-body">
                    <span>Realmente deseja sair?</span>
                </div>

                <div class="modal-footer">

                    <!--formulario-->
                    <form class="form-horizontal">

                        <!--botões-->
                        <div class="form-group">
                            <div class="col-sm-12">

                                <div ng-controller="loginController">

                                    <button class="btn btn-danger btn-sm" ng-click="logoff()">Sim <i class="glyphicon glyphicon-ok"></i></button>

                                    <button class="btn btn-default btn-sm" data-dismiss="modal">Não <i class="glyphicon glyphicon-remove"></i></button>

                                </div>

                            </div>
                        </div>
                        <!--botões-->

                    </form>
                    <!--fim formulario-->

                </div>

            </div>

        </div>

    </div>
    <!--modal logoff-->

</html>
