<!DOCTYPE html>

<!--module app-->
<html ng-app="app">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
        <title>Fulô Patchwork</title>

        <!--load css-->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/complemento.css" rel="stylesheet">
        <!--load css-->

    </head>

    <body>

        <!--container-->
        <div class="container-fluid">

            <!--row-->
            <div class="row">

                <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

                    <!--nav container-->
                    <div class="container-fluid">

                        <!--button of menu for mobile-->
                        <div class="navbar-header">

                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-targset="#dropdown-thumbnail-preview" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!--end button of menu for mobile-->

                            <a class="navbar-brand hidden-xs"><img src="img/fulo.png" /></a>
                            <a class="navbar-brand hidden-sm hidden-md hidden-lg"><img src="img/fulo.png" /></a>

                        </div>

                        <!--colapse-->
                        <div id="navbar" class="navbar-collapse collapse">

                            <!--left buttons-->
                            <ul class="nav navbar-nav">

                                <!--buttons navbar-->
                                <li class="active"><a href="#/"><i class="glyphicon glyphicon-home"></i> Home</a></li>

                                <!--contact-->
                                <li><a href="#/contact"><i class="glyphicon glyphicon-phone-alt"></i> Contato</a></li>

                                <!--drop down institucional-->
                                <li class="dropdown thumb-dropdown">

                                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="glyphicon glyphicon-road"></i> Institucional<span class="caret"></span>
                                    </a>

                                    <ul class="dropdown-menu" role="menu">

                                        <li><a href="#">Como tudo começou</a></li>
                                        <li><a href="#">Cuidados especiais</a></li>
                                        <li><a href="#">História do patchwork</a></li>

                                    </ul>

                                </li>

                                <!--drop down filter-->
                                <li class="dropdown thumb-dropdown">

                                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="glyphicon glyphicon-filter"></i> Filtros<span class="caret"></span>
                                    </a>

                                    <ul class="dropdown-menu" role="menu" ng-controller="productController" ng-init="getProductTypes()">

                                        <li ng-repeat="type in types">
                                            <a href="#/product/filterProduct/{{type.sq_product_type}}">{{type.ds_product_type}}</a>
                                        </li>

                                    </ul>

                                </li>

                                <!--drop down administration-->
                                <li class="dropdown thumb-dropdown" ng-show="user.sq_profile == constant.PROFILE_ADMINISTRATOR">

                                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="glyphicon glyphicon-king"></i> Administração<span class="caret"></span>
                                    </a>

                                    <ul class="dropdown-menu" role="menu">

                                        <li><a href="#/product/listProduct">Produtos</a></li>
                                        <li><a href="#/user/listUser">Usuários</a></li>

                                    </ul>

                                </li>

                                <!--identifier of logged user-->
                                <li>
                                    <a href="#/customer/upCustomer">
                                        <i class="glyphicon glyphicon-user" ng-show="user.ds_name"></i>
                                        <strong> {{user.ds_name}}</strong>
                                    </a>
                                </li>
                                <!--identifier of logged user-->

                                <!--end buttons navbar-->
                            </ul>

                            <!--end left buttons-->

                            <!--right buttons-->
                            <ul class="nav navbar-nav navbar-right">

                                <!--sign in-->
                                <li ng-show="!user.sq_person">
                                    <a href="#/customer/addCustomer">
                                        <i class="glyphicon glyphicon-user text-primary"></i>
                                        <strong>Cadastre-se </strong>
                                    </a>
                                </li>
                                <!--sign in-->

                                <!--login-->
                                <li ng-show="!user.sq_person">
                                    <a href="" data-toggle="modal" data-target="#modalLogin">
                                        <i class="glyphicon glyphicon-log-in text-primary"></i>
                                        <strong>Entrar </strong>
                                    </a>
                                </li>
                                <!--login-->

                                <!--cart-->
                                <li data-toggle="tooltip" data-placement="left" title="Carrinho de compras">
                                    <a href="#/product/cart">
                                        <i class="glyphicon glyphicon-shopping-cart btn-primary badge"> {{cart.nu_cart}}</i>
                                    </a>
                                </li>
                                <!--cart-->

                                <!--wishlist-->
                                <li data-toggle="tooltip" data-placement="left" title="Lista de desejos" ng-show="user.sq_user">
                                    <a href="#/product/wishList">
                                        <i class="glyphicon glyphicon-heart text-danger badge btn-danger"> {{user.nu_wishlist}}</i>
                                    </a>
                                </li>
                                <!--wishlist-->

                                <!--logout-->
                                <li ng-show="user.sq_person">
                                    <a href="" data-toggle="modal" data-target="#modalLogoff">
                                        <i class="glyphicon glyphicon-log-out text-danger"></i>
                                        <strong>Sair </strong>
                                    </a>
                                </li>
                                <!--logout-->

                            </ul>
                            <!--end right buttons-->

                            <form class="navbar-form pull-right">
                                <img src="img/ajax-loader.gif" ng-show="showLoaderFlag" class="pull-right" />
                            </form>

                        </div>
                        <!--nav container-->

                    </div>
                    <!--colapse-->

                </nav>
                <!--navbar-->

                <!--content-->
                <div class="container-fluid">

                    <!--row-->
                    <div class="row">

                        <!--flashmessage-->
                        <div id="flashmessage" class="navbar-fixed-top">

                            <div  class="alert {{flashType}} fade in" role="alert">
                                <i class="glyphicon {{glyphicon}}"></i>
                                {{flashMsg}}
                            </div>

                        </div>
                        <!--flashmessage-->

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <!--angular content-->
                            <div ng-view></div>
                            <!--angular content-->

                        </div>

                        <!--footer-->
                        <!--first bloc-->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well">

                            <h2 class="bernhard-font"><strong>Fulô Patchwork</strong></h2>

                            <div class="col-sm-12">
                                Gama, Brasília - DF, 7200000<br />
                            </div>

                            <div class="col-sm-12">
                                <abbr title="Phone"><i class="glyphicon glyphicon-phone-alt"></i></abbr> (61) 0000-0000
                            </div>

                            <div class="col-sm-12">
                                <abbr title="Phone"><i class="glyphicon glyphicon-phone-alt"></i></abbr> (61) 0000-0000
                            </div>


                        </div>
                        <!--end first bloc-->

                        <!--button top-->
                        <div class="col-xs-12">

                            <div class="pull-right">
                                <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Clique para voltar ao topo" data-toggle="tooltip" data-placement="left">
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                </a>
                            </div>

                        </div>
                        <!--button top-->
                        <!--footer-->

                    </div>
                    <!--row-->

                </div>
                <!--content-->

            </div>
            <!--row-->

        </div>
        <!--container-->

    </body>

    <!--modal login-->
    <div id="modalLogin" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >

        <!--size and alignment-->
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 col-sm-offset-4">

            <legend class="text-white"> <i class="glyphicon glyphicon-log-in text-white"></i> Entrar

                <a class="close pull-right text-white glyphicon glyphicon-remove-circle" data-dismiss="modal"></a>

            </legend>

            <!--form-->
            <form id="login" name="form" class="form-horizontal">

                <!-- field email-->
                <div class="form-group">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <input class="form-control input-sm text-lowercase"
                               accesskey="U"
                               type="email"
                               name="ds_email"
                               placeholder="usuario@email.com"
                               ng-model="row.ds_email"
                               maxlength="50"
                               ng-maxlength="50"
                               required/>

                    </div>

                    <div id="div-email" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <span class="text-white" ng-show="form.ds_email.$dirty && form.ds_email.$invalid">
                            <i class="glyphicon glyphicon-remove-sign"></i>
                            <span ng-show="form.ds_email.$error.required">campo obrigatório</span>
                            <span ng-show="form.ds_email.$error.email">Email inválido</span>
                            <span ng-show="form.ds_email.$error.maxlength">Máximo de cinquenta caracteres</span>
                        </span>

                    </div>

                </div>
                <!-- field email-->

                <!-- field password-->
                <div class="form-group">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <div class="input-group">

                            <input class="form-control input-sm password"
                                   accesskey="S"
                                   placeholder="Senha"
                                   id="ds_password"
                                   name="ds_password"
                                   type="password"
                                   maxlength="20"
                                   ng-maxlength="20"
                                   ng-model="row.ds_password"
                                   required/>

                            <span class="input-group-btn">
                                <button class="btn btn-default btn-sm" ng-click="showhidePass()">
                                    <i id="switchPass" class="glyphicon glyphicon-eye-close"></i>
                                </button>
                            </span>

                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <span class="text-white" ng-show="form.ds_password.$dirty && form.ds_password.$invalid">
                                <i class="glyphicon glyphicon-remove-sign"></i>
                                <span ng-show="form.ds_password.$error.required">Campo obrigatório</span>
                                <span ng-show="form.ds_password.$error.maxlength">Máximo de vinte caracteres</span>
                            </span>
                        </div>

                    </div>

                </div>
                <!--field password-->

                <!--button submit-->
                <div class="form-group">
                    <div class="col-sm-12">

                        <button
                            accesskey="E"
                            id="entrar"
                            class="btn btn-primary"
                            ng-Disabled="form.$invalid"
                            ng-click="login()">
                            <u>E</u>ntrar
                            <i class="glyphicon glyphicon-log-in"></i>
                        </button>

                    </div>
                </div>
                <!--button submit-->

            </form>
            <!--form-->

        </div>

    </div>
    <!--size and alignment-->
    <!--modal login-->

    <!--modal logoff-->
    <div class="modal fade" id="modalLogoff" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sair</h4>
                </div>

                <div class="modal-body">
                    <span>Realmente deseja sair?</span>
                </div>

                <div class="modal-footer">

                    <!--form-->
                    <form class="form-horizontal">

                        <!--buttons-->
                        <div class="form-group">
                            <div class="col-sm-12">

                                <div ng-controller="loginController">

                                    <button class="btn btn-default btn-sm" data-dismiss="modal">
                                        Não
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>

                                    <button class="btn btn-danger btn-sm" ng-click="logoff()">
                                        Sim
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </button>

                                </div>

                            </div>
                        </div>
                        <!--buttons-->

                    </form>
                    <!--form-->

                </div>

            </div>

        </div>

    </div>
    <!--modal logoff-->

    <!--modal inform about reactive account-->
    <div class="modal fade" id="modalReactiveCustomer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">

                    <h4 class="modal-title" id="myModalLabel">Conta Reativada</h4>
                </div>

                <div class="modal-body">
                    <span>Bem vindo de volta, sua conta foi reativada!</span>
                </div>

                <div class="modal-footer">

                    <!--form-->
                    <form class="form-horizontal">

                        <!--buttons-->
                        <div class="form-group">
                            <div class="col-sm-12">

                                <div ng-controller="userController">

                                    <button class="btn btn-primary btn-sm" ng-click="activateUser(user.sq_user)" data-dismiss="modal" ng-click="activateUser(user.sq_user)">
                                        Entendi
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>

                                </div>

                            </div>
                        </div>
                        <!--buttons-->

                    </form>
                    <!--form-->

                </div>

            </div>

        </div>

    </div>
    <!--modal inform about reactive account-->

    <!--load scripts-->
    <!--library-->
    <script src="app/component/jquery-1.11.2.min.js"></script>
    <script src="app/component/angular.js"></script>
    <script src="app/component/angular-resource.min.js"></script>
    <script src="app/component/angular-route.min.js"></script>
    <script src="app/component/geral.js"></script>
    <script src="app/component/bootstrap.min.js"></script>
    <script src="app/component/nicescroll.min.js"></script>
    <!--library-->

    <!--modules-->
    <script src="app/controller/app.js"></script>
    <!--modules-->

    <!--Controllers-->
    <script src="app/controller/userController.js"></script>
    <script src="app/controller/loginController.js"></script>
    <script src="app/controller/customerController.js"></script>
    <script src="app/controller/productController.js"></script>
    <!--Controllers-->
    <!--load scripts-->

</html>
