<div ng-init="userController">
    <div ng-init="getUsers()">

        <legend>Usuários</legend>

        <!--list-->
        <table id="tableData" class="table table-hover table-striped table-responsive">

            <thead>

                <tr>
                    <th>Nome</th>

                    <th>E-mail</th>

                    <th>Perfil</th>

                    <th>Ativo</th>
                </tr>

            </thead>

            <tbody>

                <tr ng-repeat="row in rows| startFrom: currentPage * pageSize| limitTo: pageSize" id="{{row.sq_person}}">

                    <!--name-->
                    <td><a href='#/user/upUser/{{row.sq_person}}'>{{row.ds_name}}</a></td>

                    <!--email-->
                    <td>{{row.ds_email}}</td>

                    <!--profile-->
                    <td>

                        <span
                            title="Administrador"
                            class="label label-primary"
                            ng-show="row.sq_profile == constant.PROFILE_ADMINISTRATOR">
                            AD
                        </span>

                        <span
                            title="Cliente"
                            class="label label-default"
                            ng-show="row.sq_profile == constant.PROFILE_CUSTOMER">
                            CL
                        </span>

                    </td>

                    <!--user status-->
                    <td>

                        <label class="switch">
                            <input
                                type="checkbox"
                                class="switch-input"
                                id="status_{{row.sq_user}}"
                                ng-checked="row.sq_status == constant.PROFILE_ADMINISTRATOR"
                                ng-click="row.sq_status == constant.USER_ACTIVE ? inativateUser(row.sq_user) : activateUser(row.sq_user)">
                            <span class="switch-label" data-on="" data-off=""></span>
                            <span class="switch-handle"></span>
                        </label>

                    </td>
                    <!--user status-->

                </tr>

            </tbody>

        </table>
        <!--list-->

        <!--button new-->
        <a class="btn btn-primary btn-sm" href="#/user/addUser">Novo <i class="glyphicon glyphicon-plus"></i></a>
        <!--button new-->

        <!--pagination-->
        <button class="btn btn-default btn-sm" ng-click="currentPage = currentPage - 1" ng-disabled="currentPage == 0" >
            <i class="text-info glyphicon glyphicon-arrow-left"></i>
        </button>

        <button class="btn btn-default btn-sm" ng-click="currentPage = currentPage + 1" ng-disabled="currentPage >= rows.length / pageSize - 1">
            <i class="text-info glyphicon glyphicon-arrow-right"></i>
        </button>
        <!--pagination-->

    </div>
</div>