<legend ng-show="row.sq_pessoa != null">Edição de usuário</legend>

<div ng-init="loadRow()">

    <!--Apresentação-->
    <h1><span class="text-primary hidden-xs" ng-bind="row.ds_nome"></span></h1>
    <h2><span class="text-primary hidden-sm hidden-md hidden-lg" ng-bind="row.ds_nome"></span></h2>

    <form name="formPessoal" class="form-horizontal" ng-show="row != null">

        <!--sq_pessoa hidden-->
        <input name="sq_pessoa" type="hidden" ng-model="row.sq_pessoa" ng-disabled="row.isUpdate" />
        <!--sq_pessoa hidden-->

        <!--campo nome-->
        <div class="form-group">
            <label class="col-sm-2 control-label">Nome</label>

            <div class="col-xs-12 col-sm-6 col-md-6">
                <input class="form-control"
                       placeholder="Nome e sobrenome"
                       name="ds_nome"
                       type="text"
                       ng-maxlength="50"
                       maxlength="50"
                       ng-model="row.ds_nome"
                       required/>
            </div>

            <div class="help-block-input col-xs-12 col-sm-4 col-md-4">
                <span class="text-danger" ng-show="formPessoal.ds_nome.$dirty && formPessoal.ds_nome.$invalid">
                    <i class="glyphicon glyphicon-remove-sign"></i>
                    <span ng-show="formPessoal.ds_nome.$error.required">Campo obrigatório</span>
                    <span ng-show="formPessoal.ds_nome.$error.maxlength">Máximo de cinquenta caracteres</span>
                </span>

            </div>
        </div>
        <!--campo nome-->

        <!--campo email-->
        <div class="form-group">
            <label class="col-sm-2 control-label">E-mail</label>


            <div class="col-xs-12 col-sm-6 col-md-6">
                <input class="form-control text-lowercase"
                       placeholder="E-mail"
                       name="ds_email"
                       type="email"
                       ng-model="row.ds_email"
                       maxlength="50"
                       ng-maxlength="50"
                       required/>
            </div>

            <div class="help-block-input col-xs-12 col-sm-4 col-md-4">

                <span class="text-danger" ng-show="formPessoal.ds_email.$dirty && formPessoal.ds_email.$invalid">
                    <i class="glyphicon glyphicon-remove-sign"></i>
                    <span ng-show="formPessoal.ds_email.$error.required">Campo obrigatório</span>
                    <span ng-show="formPessoal.ds_email.$error.email">Email inválido</span>
                    <span ng-show="formPessoal.ds_email.$error.maxlength">Máximo de cinquenta caracteres</span>
                </span>

            </div>
        </div>
        <!--campo email-->

        <!--campo perfil-->
        <div class="form-group">
            <label class="col-sm-2 control-label">Perfil</label>

            <div class="col-sm-10 radio radio-center">

                <label>
                    <input type="radio" name="sq_perfil" value="1" ng-model="row.sq_perfil" required/> Administrador
                </label>

                <label>
                    <input type="radio" name="sq_perfil" value="2" ng-model="row.sq_perfil" required /> Cliente
                </label>

            </div>
        </div>
        <!--campo perfil-->

        <!--botões-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">

                <button type="submit" class="btn btn-primary btn-sm" ng-click="updateDataUser('admin')" ng-Disabled="formPessoal.$invalid">Salvar
                    <i class="glyphicon glyphicon-save"></i>
                </button>

                <a class="btn btn-default btn-sm" href="#/user">Voltar
                    <i class="glyphicon glyphicon-remove"></i>
                </a>

            </div>
        </div>

    </form>

</div>