<legend ng-show="row.sq_person != null">Edição de usuário</legend>

<div ng-init="getUser()">

    <!--presentation-->
    <h1><span class="text-primary hidden-xs" ng-bind="row.ds_name"></span></h1>
    <h2><span class="text-primary hidden-sm hidden-md hidden-lg" ng-bind="row.ds_name"></span></h2>

    <form name="formPessoal" class="form-horizontal" ng-show="row != null">

        <!--sq_person hidden-->
        <input name="sq_person" type="hidden" ng-model="row.sq_person" />
        <!--sq_person hidden-->

        <!--field name-->
        <div class="form-group">
            <label class="col-sm-2 control-label">name</label>

            <div class="col-xs-12 col-sm-6 col-md-6">
                <input class="form-control"
                       placeholder="name e sobrename"
                       name="ds_name"
                       type="text"
                       ng-maxlength="50"
                       maxlength="50"
                       ng-model="row.ds_name"
                       required/>
            </div>

            <div class="help-block-input col-xs-12 col-sm-4 col-md-4">
                <span class="text-danger" ng-show="formPessoal.ds_name.$dirty && formPessoal.ds_name.$invalid">
                    <i class="glyphicon glyphicon-remove-sign"></i>
                    <span ng-show="formPessoal.ds_name.$error.required">field obrigatório</span>
                    <span ng-show="formPessoal.ds_name.$error.maxlength">Máximo de cinquenta caracteres</span>
                </span>

            </div>
        </div>
        <!--field name-->

        <!--field email-->
        <div class="form-group">
            <label class="col-sm-2 control-label">E-mail</label>

            <div class="col-xs-12 col-sm-6 col-md-6">
                <input class="form-control text-lowercase"
                       placeholder="E-mail"
                       name="ds_email"
                       type="email"
                       ng-model="row.ds_email"
                       maxlength="50"
                       ng-maxlength="50"
                       required/>
            </div>

            <div class="help-block-input col-xs-12 col-sm-4 col-md-4">

                <span class="text-danger" ng-show="formPessoal.ds_email.$dirty && formPessoal.ds_email.$invalid">
                    <i class="glyphicon glyphicon-remove-sign"></i>
                    <span ng-show="formPessoal.ds_email.$error.required">field obrigatório</span>
                    <span ng-show="formPessoal.ds_email.$error.email">Email inválido</span>
                    <span ng-show="formPessoal.ds_email.$error.maxlength">Máximo de cinquenta caracteres</span>
                </span>

            </div>
        </div>
        <!--field email-->

        <!--field profile-->
        <div class="form-group" ng-init="teste = getProfiles()">

            <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Perfil</label>

            <div class="radio radio-inline radio-center" ng-repeat="prof in profiles">
                <label>
                    <input type="radio" name="sq_profile" value="{{prof.sq_profile}}" ng-model="row.sq_profile" required/> {{prof.ds_profile}}
                </label>
            </div>

        </div>
        <!--field profile-->

        <!--buttons-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">

                <button type="submit" class="btn btn-primary btn-sm" ng-click="upUser()" ng-Disabled="formPessoal.$invalid">Salvar
                    <i class="glyphicon glyphicon-save"></i>
                </button>

                <a class="btn btn-default btn-sm" href="#/user/listUser">Voltar
                    <i class="glyphicon glyphicon-remove"></i>
                </a>

            </div>
        </div>

    </form>

</div>