    <legend class="text-gray font-18"><i class="glyphicon glyphicon-user"></i> Novo usuário</legend>

<!--presentation-->
<div class="row">

    <div class="col-xs-12 col-sm-offset-2 col-sm-6 col-md-offset-2 col-md-6 col-lg-offset-2 col-lg-6 well well-sm" ng-show="row.ds_name != null">

        <h1 class="hidden-xs hidden-sm"><span class="text-primary text-capitalize" ng-bind="row.ds_name"></span></h1>

        <h3 class="hidden-md hidden-lg"><span class="text-primary text-capitalize" ng-bind="row.ds_name"></span></h3>

    </div>

</div>

<form name="form" class="form-horizontal">

    <!--sq_person hidden-->
    <input name="sq_person" type="hidden" ng-model="row.sq_person" />
    <!--sq_person hidden-->

    <!--field name-->
    <div class="form-group">
        <label class="col-sm-2 control-label">Nome<span class="text-danger">*</span></label>

        <div class="col-xs-12 col-sm-6 col-md-6">
            <input class="form-control input-sm text-capitalize"
                   placeholder="Nome e sobrenome"
                   name="ds_name"
                   type="text"
                   ng-maxlength="50"
                   maxlength="50"
                   ng-model="row.ds_name"
                   required/>
        </div>

        <div class="help-block-input col-xs-12 col-sm-4 col-md-4">
            <span class="text-danger" ng-show="form.ds_name.$dirty && form.ds_name.$invalid">
                <i class="glyphicon glyphicon-remove-sign"></i>
                <span ng-show="form.ds_name.$error.required">Campo obrigatório</span>
                <span ng-show="form.ds_name.$error.maxlength">Máximo de cinquenta caracteres</span>
            </span>

        </div>
    </div>
    <!--field name-->

    <!--field email-->
    <div class="form-group">
        <label class="col-sm-2 control-label">E-mail<span class="text-danger">*</span></label>


        <div class="col-xs-12 col-sm-6 col-md-6">
            <input class="form-control text-lowercase"
                   placeholder="E-mail"
                   name="ds_email"
                   type="email"
                   ng-model="row.ds_email"
                   maxlength="50"
                   ng-maxlength="50"
                   required/>
        </div>

        <div class="help-block-input col-xs-12 col-sm-4 col-md-4">

            <span class="text-danger" ng-show="form.ds_email.$dirty && form.ds_email.$invalid">
                <i class="glyphicon glyphicon-remove-sign"></i>
                <span ng-show="form.ds_email.$error.required">Campo obrigatório</span>
                <span ng-show="form.ds_email.$error.email">Email inválido</span>
                <span ng-show="form.ds_email.$error.maxlength">Máximo de cinquenta caracteres</span>
            </span>

        </div>
    </div>
    <!--field email-->

    <!--field profile-->
    <div class="form-group" ng-init="getProfiles()">

        <label class="col-xs-2 col-sm-2 col-md-2 col-lg-2 control-label">Perfil<span class="text-danger">*</span></label>

        <div class="radio radio-inline radio-center" ng-repeat="prof in profiles">

            <label ng-show="prof.sq_profile != constant.PROFILE_GUEST">

                <input
                    type="radio"
                    name="sq_profile"
                    value="{{prof.sq_profile}}"
                    ng-model="row.sq_profile"
                    required
                    /> {{prof.ds_profile}}

            </label>

        </div>

    </div>
    <!--field profile-->

    <!--field password-->
    <div class="form-group">
        <label class="col-sm-2 control-label">Senha<span class="text-danger">*</span></label>

        <div class="col-xs-12 col-sm-6 col-md-6">

            <input class="form-control input-sm"
                   placeholder="Senha"
                   name="ds_password"
                   type="password"
                   maxlength="20"
                   ng-maxlength="20"
                   ng-minlength="4"
                   ng-model="row.ds_password"
                   required/>
        </div>

        <div class="help-block-input col-xs-12 col-sm-4 col-md-4">

            <span class="text-danger" ng-show="form.ds_password.$dirty && form.ds_password.$invalid">
                <i class="glyphicon glyphicon-remove-sign"></i>
                <span ng-show="form.ds_password.$error.required">Campo obrigatório</span>
                <span ng-show="form.ds_password.$error.minlength">Mínimo de quatro caracteres</span>
                <span ng-show="form.ds_password.$error.maxlength">Máximo de vinte caracteres</span>
            </span>

        </div>
    </div>
    <!--field password-->

    <!--field re password-->
    <div class="form-group">
        <label class="col-sm-2 control-label">Repita a senha<span class="text-danger">*</span></label>


        <div class="col-xs-12 col-sm-6 col-md-6">

            <input class="form-control input-sm"
                   placeholder="Repita a senha"
                   name="re_password"
                   type="password"
                   maxlength="20"
                   ng-model="row.re_password"
                   ng-maxlength="20"
                   ng-minlength="4"
                   required/>
        </div>

        <div class="help-block-input col-xs-12 col-sm-4 col-md-4">

            <span class="text-danger" ng-show="form.re_password.$dirty && form.re_password.$invalid">
                <i class="glyphicon glyphicon-remove-sign"></i>
                <span ng-show="form.re_password.$error.required">Campo obrigatório</span>
                <span ng-show="form.re_password.$error.minlength">Mínimo de quatro caracteres</span>
                <span ng-show="form.re_password.$error.maxlength">Máximo de vinte caracteres</span>
            </span>

        </div>
    </div>
    <!--field re password-->

    <!--buttons-->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">

            <button type="submit" class="btn btn-primary btn-sm" ng-click="addUser()" ng-Disabled="form.$invalid">Salvar
                <i class="glyphicon glyphicon-save"></i>
            </button>

            <a class="btn btn-default btn-sm" href="#/user/listUser">Cancelar
                <i class="glyphicon glyphicon-remove"></i>
            </a>

        </div>
    </div>

</form>