<div ng-controller="purchaseController" ng-init="getOrdersByUser()">

    <legend class="text-gray font-18"><i class="glyphicon glyphicon-gift"></i> Meus Pedidos</legend>

    <div ng-show="orders != ''">

        <div ng-repeat="order in orders">

            <p class="text-success font-18 well well-sm">
                Pedido Nº: {{order.sq_order}}
            </p>

            <!--first-->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                <dl class="dl-horizontal">

                    <dt class="text-gray"
                        ng-show="order.nu_tracker"
                        >Nº Rastreio:</dt>
                    <dd>
                        {{order.nu_tracker}}
                    </dd>

                    <dt class="text-gray">Status:</dt>
                    <dd class="text-capitalize">{{order.ds_status}}</dd>
                </dl>
            </div>
            <!--first-->

            <!--second-->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                <dl class="dl-horizontal">

                    <dt class="text-gray">Nº Produtos:</dt>
                    <dd>{{order.nu_quantity}} Und</dd>

                    <dt class="text-gray">Valor Total:</dt>
                    <dd>{{order.nu_total | currency}}</dd>
                </dl>
            </div>
            <!--second-->

            <!--third-->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                <dl class="dl-horizontal">

                    <dt class="text-gray">Endereço:</dt>
                    <dd class="text-capitalize">{{order.ds_address}}</dd>

                    <dt class="text-gray">Telefone:</dt>
                    <dd class="text-capitalize">{{order.nu_phone |tel}}</dd>

                    <dt class="text-gray">Data:</dt>
                    <dd>{{order.nu_date_time | dateBr}}</dd>
                </dl>

            </div>
            <!--third-->

            <!--buttons-->
            <div class="form-group">

                <button
                    class="btn btn-primary btn-sm"
                    ng-click="getProductsOrder(order.sq_order)">
                    Mostrar Produtos
                </button>

                <button
                    class="btn btn-success btn-sm"
                    ng-click="tracker(order.nu_tracker)"
                    ng-show="order.nu_tracker">
                    Rastrear
                </button>

            </div>

            <hr />
            <div class="collapse" id="prod{{order.sq_order}}">

                <table class="table table-responsive table-hover table-striped">

                    <thead>

                    <th>Produto</th>
                    <th>Valor</th>
                    <th>Quantidade</th>

                    </thead>

                    <tbody>

                        <tr ng-repeat="product in products">

                            <td>{{product.ds_product}}</td>
                            <td>{{product.nu_value| currency}}</td>
                            <td>{{product.nu_quantity}} und.</td>
                        </tr>
                    <td>Taxa de entrega</td>
                    <td>{{order.nu_farevalue| currency}}</td>
                    <td></td>

                    </tbody>
                </table>

                <hr />
            </div>

            <div class="collapse" id="track{{order.nu_tracker}}">


                <table class="table table-hover table-striped">

                    <thead>

                        <tr>
                            <th>Data</th>
                            <th>Local</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr ng-repeat="item in sro">
                            <td>{{item.data}}</td>
                            <td>{{item.local}}</td>
                            <td>{{item.status}}</td>
                        </tr>
                    </tbody>
                </table>

                <hr />
            </div>
        </div>

        <div class="alert alert-info col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="orders == ''">
            {{constant.MSG0008}}
        </div>

    </div>
