<div ng-controller="purchaseController" ng-init="getOrdersByUser()">

    <legend class="text-gray font-18"><i class="glyphicon glyphicon-gift"></i> Pedidos de Clientes</legend>

    <div ng-show="orders != ''">

        <div ng-repeat="order in orders| orderBy:'+sq_order'">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="text-success font-18 well well-sm ">
                    Pedido Nº: {{order.sq_order}}
                </div>
            </div>

            <!--first-->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                <dl class="dl-horizontal">

                    <dt class="text-gray"
                    ng-show="order.nu_tracker"
                    >Nº Rastreio:</dt>
                    <dd>
                        {{order.nu_tracker}}
                    </dd>

                    <dt class="text-gray">Status:</dt>
                    <dd class="text-capitalize">{{order.ds_status}}</dd>
                </dl>
            </div>
            <!--first-->

            <!--second-->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                <dl class="dl-horizontal">

                    <dt class="text-gray">Nº Produtos:</dt>
                    <dd>{{order.nu_quantity}} Und</dd>

                    <dt class="text-gray">Valor Total:</dt>
                    <dd>{{order.nu_total | currency}}</dd>

                    <dt class="text-gray">Cliente:</dt>
                    <dd>{{order.ds_name}}</dd>
                </dl>
            </div>
            <!--second-->

            <!--third-->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

                <dl class="dl-horizontal">

                    <dt class="text-gray">Endereço:</dt>
                    <dd class="text-capitalize">{{order.ds_address}}</dd>

                    <dt class="text-gray">Telefone:</dt>
                    <dd class="text-capitalize">{{order.nu_phone | tel}}</dd>

                    <dt class="text-gray">Data:</dt>
                    <dd>{{order.nu_date_time | dateBr}}</dd>
                </dl>

            </div>
            <!--third-->

            <!--buttons-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="form-group form-group-sm">

                    <button  class="btn btn-primary btn-sm"
                    ng-click="getProductsOrder(order.sq_order)">
                    Mostrar Produtos
                </button>

                <button class="btn btn-success btn-sm"
                ng-click="tracker(order.nu_tracker)"
                ng-show="order.sq_status == constant.NUMBER_TEN"
                >
                Rastrear
            </button>

            <button class="btn btn-default btn-sm"
            ng-show="order.sq_status == constant.NUMBER_FOUR || order.sq_status == constant.NUMBER_NINE"
            data-toggle="collapse"
            data-target="#track{{order.sq_order}}"
            >
            Inserir Rastreio
        </button>

        <button class="btn btn-default btn-sm" ng-show="order.sq_status != constant.NUMBER_TEN"
        ng-click="cancelOrder(order.sq_order)">
            Cancelar
        </button>

        <button class="btn btn-default btn-sm" ng-show="order.sq_status != constant.NUMBER_TEN"
        ng-click="freezeOrder(order.sq_order)">
            Congelar
        </button>

        <button class="btn btn-default btn-sm" ng-show="order.sq_status != constant.NUMBER_FOUR && order.sq_status != constant.NUMBER_TEN">
            Verificar Pagamento
        </button>

        <button class="btn btn-default btn-sm" ng-show="order.sq_status == constant.NUMBER_FOUR"
        ng-click="refundOrder(order.sq_order)">
            Estornar
        </button>

    </div>

</div>

<hr />

<div class="collapse" id="prod{{order.sq_order}}">

    <table class="table table-responsive table-hover table-striped">

        <thead>

            <th>Produto</th>
            <th>Valor</th>
            <th>Quantidade</th>

        </thead>

        <tbody>

            <tr ng-repeat="product in products">

                <td>{{product.ds_product}}</td>
                <td>{{product.nu_value| currency}}</td>
                <td>{{product.nu_quantity}} und.</td>
            </tr>
            <td>Taxa de entrega</td>
            <td>{{order.nu_farevalue| currency}}</td>
            <td></td>

        </tbody>
    </table>

    <hr />
</div>

<div class="collapse" id="track{{order.nu_tracker}}">

    <table class="table table-hover table-striped"
    ng-show="order.sq_status == constant.NUMBER_TEN"
    >

    <thead>

        <tr>
            <th>Data</th>
            <th>Local</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>

        <tr ng-repeat="item in sro| orderBy:'-data':true">

            <td>{{item.data}}</td>
            <td>{{item.local}}</td>
            <td>{{item.status}}</td>
        </tr>
    </tbody>
</table>

<hr />
</div>

<div class="collapse" id="track{{order.sq_order}}">

    <!-- Insert tracker -->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

        <div class="form-group form-group-sm"
        ng-show="orders.sq_order != 3"
        >

        <div class="input-group">

            <input
            class="form-control"
            name="nu_tracker"
            placeholder="RB72000000BR"
            ng-model="row.nu_tracker"
            maxlength="13"
            ng-maxlength="13"
            ng-minlength="13"
            required
            />

            <span class="input-group-btn">

                <button class="btn btn-primary btn-sm" ng-click="addTracker(row.nu_tracker, order.sq_order)">
                    Inserir
                    <i class="glyphicon glyphicon-barcode"></i>
                </button>

            </span>
        </div>
    </div>


    <div class="help-block-input col-xs-12 col-sm-offset-4 col-sm-12 col-md-offset-4 col-md-12 col-lg-offset-4 col-lg-12">

        <span class="text-danger" ng-show="form.nu_tracker.$dirty && form.nu_tracker.$invalid">
            <i class="glyphicon glyphicon-remove-sign"></i>
            <span ng-show="form.nu_tracker.$error.required">Campo obrigatório.</span>
            <span ng-show="form.nu_tracker.$error.minlength">Mínimo de treze caracteres.</span>
            <span ng-show="form.nu_tracker.$error.maxlength">Máximo de treze caracteres.</span>
        </span>
    </div>
    <!-- Insert tracker -->


    <hr />
</div>
<!-- </div> -->

<div class="alert alert-info col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="orders == ''">
    {{constant.MSG0008}}
</div>
