<legend><i class="glyphicon glyphicon-shopping-cart text-gray"></i> Carrinho de compras</legend>

<!--form buy-->
<form name="form">

    <!--loop-->
    <div class="row"
         ng-repeat="row in cart"
         id="{{row.sq_product}}">

        <!--image-->
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">

            <!--image-->
            <a href="" ng-click="detailProduct(row)">

                <div class="thumbnail">
                    <img class="caption img-responsive"
                         src={{row.im_product_image.encoded}}
                         height="200"
                         width="200"
                         />
                </div>

            </a>

        </div>

        <!--product data-->
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">

            <!--title-->
            <legend class="text-success text-capitalize">{{row.ds_product}}</legend>

            <dl class="dl-horizontal">

                <dt class="text-gray">Preço:</dt>
                <dd>R$ {{row.nu_value}}</dd>

                <dt class="text-gray">Em estoque:</dt>
                <dd>{{row.nu_quantity}} Und</dd>

                <dt class="text-gray">Tempo de produção:</dt>
                <dd>{{row.nu_production}} Dia(s)</dd>

            </dl>

            <dl class="dl-horizontal">

                <dt class="text-gray">Quantidade<span class="text-danger">*</span></dt>

            </dl>

            <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">

                <input
                    class="form-control input-sm"
                    type="number"
                    name="buy_nu_quantity"
                    ng-model="row.buy_nu_quantity"
                    maxlength="4"
                    ng-minlength="1"
                    ng-maxlength="4"
                    required
                    />

            </div>

            <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-sm-offset-3 col-md-offset-2 col-lg-offset-2 text-danger" ng-show="form.buy_nu_quantity.$dirty && form.buy_nu_quantity.$invalid">
                <i class="glyphicon glyphicon-remove-sign"></i>
                <span ng-show="form.buy_nu_quantity.$error.required">Campo obrigatório</span>
                <span ng-show="form.buy_nu_quantity.$error.minlength">Mínimo de um caracteres</span>
                <span ng-show="form.buy_nu_quantity.$error.maxlength">Máximo de quatro caracteres</span>
                <span ng-show="form.buy_nu_quantity.$error.number">Somente Números</span>
            </span>

            <!--buttons-->
            <!--add wish-->
            <span
                class="btn btn-primary btn-sm"
                ng-click="addWishList(row.sq_product)"
                title="Colocar na lista de desejos">

                <i class="glyphicon glyphicon-heart" ></i>
            </span>

            <!--remove cart-->
            <span
                class="btn btn-danger btn-sm"
                ng-click="delCart(row.sq_product)"
                title="Remove do carrinho">

                <i class="glyphicon glyphicon-remove"></i>
            </span>

            <span class="btn btn-info btn-sm"
                  ng-click="share(row.sq_product)"
                  title="Compatilhar na rede">

                <i class="glyphicon glyphicon-share" ></i>
            </span>

            <hr />

        </div>

    </div>

    <!--fare value-->
    <div class="row">

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 form-group"
             ng-init="getFareValue(user.nu_postcode)">

            <div class="input-group">

                <input
                    class="form-control input-sm"
                    placeholder="Calcular Frete"
                    ng-model="user.nu_postcode"
                    >

                <span class="input-group-btn">

                    <button class="btn btn-primary btn-sm" ng-click="getFareValue(user.nu_postcode)">
                        Enviar
                        <i class="glyphicon glyphicon-send"></i>
                    </button>

                </span>
            </div>

        </div>

        <!--result fare value-->
        <div class="col-xs12 col-sm-3 col-md-3 col-lg-3">

            <div class="radio"
                 ng-repeat="row_fare in fare">

                <label>
                    <input
                        class="checkbox"
                        id="{{row_fare.Codigo}}"
                        type="radio"
                        value="{{row_fare.Codigo}}"
                        ng-model="row.nu_farevalue"
                        required
                        />

                    <b>{{row_fare.Codigo == 40010? "SEDEX": "PAC"}}</b>

                </label>

                <span><b>Valor:</b> {{row_fare.Valor}}</span><br />
                <span><b>Prazo de entrega:</b> {{row_fare.PrazoEntrega}} dia(s)</span>

            </div>


        </div>
        <!--result fare value-->

        <div class="col-xs12 col-sm-12 col-md-12 col-lg-12">

            <p><b>Valor Total: R$</b>313131,00</p>

            <button class="btn btn-success btn-sm" ng-click="buy()" ng-disabled="form.$invalid">Comprar
                <i class="glyphicon glyphicon-ok"></i>
            </button>
        </div>

    </div>

</form>