<div class="row">

	<!--image-->
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

		<!--image-->
		<a class="cursor-pointer" data-toggle="modal" data-target="#modalDetailProduct" ng-click="getProductDetail(row.sq_product)">

			<img class="img-responsive caption thumbnail"
			src={{row.im_product_image.encoded}}
			height="640"
			width="640"
			/>

		</a>

	</div>

	<!--product data-->
	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

		<!--title-->
		<legend class="text-success text-capitalize">{{row.ds_product}}</legend>

		<!--data-->
		<div class="well">

			<dl class="dl-horizontal">

				<dt class="text-gray">Preço:</dt>
				<dd>{{row.nu_value| currency}}</dd>

				<dt class="text-gray">Em estoque:</dt>
				<dd>{{row.nu_quantity}} Und</dd>

				<dt class="text-gray">¹Tempo de produção:</dt>
				<dd>{{row.nu_production}} Dia(s)</dd>

			</dl>

			<dl class="dl-horizontal">

				<dt class="text-gray">Altura:</dt>
				<dd>{{row.nu_height}} Cm</dd>

				<dt class="text-gray">Largura:</dt>
				<dd>{{row.nu_length}} Cm</dd>

				<dt class="text-gray">Comprimpento:</dt>
				<dd>{{row.nu_width}} Cm</dd>

				<dt class="text-gray">Peso:</dt>
				<dd>{{row.nu_weight}} Kg</dd>

			</dl>

			<div class="form-group">
				<button class="btn btn-primary btn-sm" ng-controller="purchaseController" data-toggle="modal" data-target="#modalCart" title="Colocar no carrinho de compras">

					<i class="glyphicon glyphicon-shopping-cart"></i>Comprar
				</button>

				<button class="btn btn-danger btn-sm" ng-click="addWishList(row.sq_product)" ng-controller="purchaseController" title="Colocar na lista de desejos">

					<i class="glyphicon glyphicon-heart" ></i> Favoritos
				</button>

				<button class="btn btn-info btn-sm" ng-click="share(row.sq_product)" title="Compatilhar na rede">

					<i class="glyphicon glyphicon-share" ></i> Compartilhar
				</button>

				<!--product inactive-->
				<div ng-show="row.sq_status_product == constant.STATUS_INACTIVE">

					<!--information-->
					<button class="btn btn-danger btn-sm cursor-default disabled">Produto Indisponível</button>

				</div>
				<!--product inactive-->
			</div>
		</div>

		<blockquote>

			<footer class="text-justify">
				[¹] Produtos sem estoque serão produzidos após a confirmação de pagamento de acordo com o tempo de produção informado para cada produto.
			</footer>

		</blockquote>

		<blockquote>

			<footer class="text-justify">
				As fotos são para ilustrar o produto.
				O produto que você escolheu poderá ser enviado com a padronagem do tecido diferente, mas na mesma tonalidade.
			</footer>

		</blockquote>
	</div>
</div>

<!--modal detalhe-->
<div class="modal fade" id="modalDetailProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

	<div class="modal-dialog modal-lg">

		<div class="modal-content">

			<div class="modal-header">

				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
				<h4 class="modal-title" id="myModalLabel">{{row.ds_product}}</h4>

			</div>

			<div class="modal-body thumbnail">

				<img width="1000" height="1000" src={{product.im_product_image.encoded}} />

			</div>

		</div>

	</div>

</div>
<!--modal detalhe-->

<!-- modal cart -->
<div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" ng-controller="purchaseController">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Comprar</h4>
      </div>
      <div class="modal-body">
        Deseja ir para o carrinho de compras?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="addCart(row)">Continuar comprando</button>
        <a href="#/purchase/cart" type="button" class="btn btn-primary" ng-click="addCart(row) ">Ir para o carrinho</a>
      </div>
    </div>
  </div>
</div>
<!-- modal cart -->
