<div ng-init="getProductsByFilter()">

	<!-- <legend>{{rows[0].ds_product_type}}</legend> -->
	<legend ng-show="rows != ''" class="text-gray font-18">
		<i class="glyphicon glyphicon-filter"></i> {{rows[0].ds_product_type}}
	</legend>

	<!--row-->
	<div class="row">

		<!--thumb-->
		<div ng-repeat="row in rows" class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

			<div class="thumbnail">

				<div class="caption">

					<a href="" ng-click="detailProduct(row)">
						<p align="center">
							<img src="{{row.im_product_image.encoded}}" class="img-responsive"/>
						</p>
					</a>

					<p class="text-warning text-capitalize">{{row.ds_product}}</p>

					<span class="text-gray">
						<strong class="text-success font-middle">{{row.nu_value| currency}}</strong>
					</span>

					<div class="pull-right font-middle" ng-controller="purchaseController">

						<i class="glyphicon glyphicon-shopping-cart text-primary cursor-pointer" ng-click="addCart(row)" title="Colocar no carrinho">
						</i>

						<i class="glyphicon glyphicon-heart text-danger cursor-pointer" ng-click="addWishList(row.sq_product)" title="Colocar na lista de desejos">
						</i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="alert alert-info col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="rows == ''">
		{{constant.MSG0008}}
	</div>
</div>


