
<div ng-init="loadAll()">

    <legend>Usuários</legend>

    <!--botao novo-->
    <a class="btn btn-primary" href="#/clientes/new">Novo <i class="glyphicon glyphicon-plus"></i></a>
    <!--botao novo-->

    <!--listagem-->
    <table id="tableData" class="table table-hover table-striped table-responsive">

        <thead>

            <tr>
                <th>
                    <i class="glyphicon glyphicon-user"></i> Nome
                </th>

                <th>
                    <i class="glyphicon glyphicon-envelope"></i> E-mail
                </th>
            </tr>

        </thead>

        <tbody>

            <tr ng-repeat="row in rows| startFrom: currentPage * pageSize| limitTo: pageSize" id="{{row.sq_pessoa}}">

                <!--name-->
                <td><a href='#/clientes/{{row.sq_pessoa}}'>{{row.ds_nome}}</a>
                    <span class="label label-primary pull-right" ng-show="row.sq_perfil === 1">AD</span>
                    <span class="label label-default pull-right" ng-show="row.sq_perfil === 2">CL</span>
                </td>

                <!--email-->
                <td>{{row.ds_email}}</td>

                <!--button del-->
                <td>
                    <button class="btn btn-danger btn-sm" ng-click="fireModal(row)" data-toggle="modal" data-target="#modalExcluir">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </td>

            </tr>

        </tbody>

    </table>
    <!--listagem-->

    <!--paginação-->
    <button class="btn btn-default" ng-click="currentPage = currentPage - 1" ng-disabled="currentPage == 0" >
        <i class="text-info glyphicon glyphicon-arrow-left"></i>
    </button>

    <button class="btn btn-default pull-right" ng-click="currentPage = currentPage + 1" ng-disabled="currentPage >= rows.length / pageSize - 1">
        <i class="text-info glyphicon glyphicon-arrow-right"></i>
    </button>
    <!--paginação-->

</div>

<!-- Modal exclusão -->
<div class="modal fade" id="modalExcluir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">

            <!--cabeçalho-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <h4 class="modal-title" id="myModalLabel">Exclusão</h4>
            </div>
            <!--cabeçalho-->

            <!--body-->
            <div class="modal-body">
                <span>Deseja excluir</span>
                <span class="text-danger">{{pessoa.ds_nome}}</span>
                <span>?</span>
            </div>
            <!--body-->

            <!--rodape-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Não <i class="glyphicon glyphicon-remove"></i>
                </button>

                <button id="confirma-exclusao" type="button" ng-click="del(pessoa.sq_pessoa)" class="btn btn-danger" data-dismiss="modal">
                    Sim <i class="glyphicon glyphicon-ok"></i>
                </button>
            </div>
            <!--rodape-->

        </div>
    </div>

</div>
<!-- Modal exclusão -->